/* style.css */

body {
    color: white;
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B0C4DE;
    background-image: url('../images/back.jpg'); 
    background-size: cover; /* Cover the entire viewport */
    background-position: center fixed; /* Center the image and keep it fixed *//* Center the image */
}

/* General styles for forms and tables */
.data_form,
.login_form,
.query,
.results {
    color: rgb(10, 10, 235);
    margin: 50px auto;
    padding: 30px;
    padding-right: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 50px rgba(64, 64, 64, 0.552);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Apply backdrop filter for frosted effect */
    min-height: auto; /* Adjust as needed */
}

.login_form{
    width: 30%;
}

.data_form,
.query{
    width: 50%;
}
.profile-section {
    color: rgb(10, 10, 235);
    width: 25%; /* Set maximum width */
    margin: 50px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 50px rgba(64, 64, 64, 0.552);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Apply backdrop filter for frosted effect */
    min-height: auto; /* Adjust as needed */
}
h1 {
    font-family: roboto;
    text-align: center;
    margin: -5px auto 25px;
    font-weight: bolder;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="password"],
select {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: auto; /* Full width */
    padding: 10px 20px;
    background-color: #d65252;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:40px;
}

button:hover {
    background-color: #0bd53d;
}

/* Table styles */
table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 40px;
    margin-left: 35px;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 650;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: rgba(235, 235, 235,0.9);
    font-weight: bold;
}

tbody tr {
    background-color: rgba(249, 249, 249, 0.9);
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .data_form,
    .login_form,
    .query,
    .results,
    .profile-section {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .profile-section {
        width: 40%;
        margin: 20px auto;
    }
    
    .table-section {
        width: 100%;
        margin-top: 20px;
    }
}


.heading{
    color: rgb(10, 10, 235);
    width: 100%; /* Set maximum width */
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(64, 64, 64, 0.552);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Apply backdrop filter for frosted effect */
    min-height: auto;
}

.main_section{
    color: rgb(10, 10, 235);
    width: 100%; /* Set maximum width */
    margin: 10px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(64, 64, 64, 0.552);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Apply backdrop filter for frosted effect */
    min-height: auto; /* Adjust as needed */
    align-items: center;
}

.profile-btn {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    margin-right: 30px;
}

.logoutForm{
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust right position as needed */
    margin-right: 30px;
}
