<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Attendance</title>
    <style>
        .container {
            max-width: 1400px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>

<body>
    <h1>Video Streams</h1>
    <div style="display: flex;">
        <!-- Video stream 1 -->
        <div>
            <h2>Video Stream 1</h2>
            <div class="container">
                <img src="{{ url_for('video1') }}" width="75%" id="webcam">
            </div>
        </div>
        <!-- Video stream 2 -->
        <div>
            <h2>Video Stream 2</h2>
            <div class="container">
                <img src="{{ url_for('video2') }}" width="75%" id="webcam">
            </div>
        </div>
    </div>
        <a href="/" onclick="reloadPage()">Go to Index</a>

    <script>
        function reloadPage() {
            location.reload();
        }
    </script>
    </div>

</body>

</html>